.showcase {
  font-family: "Gothic A1", sans-serif;
}

.showcase #myVideo {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.showcase nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 80%;
  margin-top: 30px;
  z-index: 5;
}

.showcase nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.showcase nav li {
  padding: 15px;
  color: #fff;
}

.showcase nav a {
  text-decoration: none;
}

.showcase nav img {
  width: 148px;
}

.column {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
}

.column .line-1 {
  border-right: 1px solid #f5f1f14d;
  height: 969px;
  z-index: 5;
  width: 30%;
}

.column .line-2 {
  border-right: 1px solid #f5f1f14d;
  height: 969px;
  z-index: 5;
  width: 15%;
}

.main {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .title-logo {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .title-logo img {
  width: 50%;
}

.main .title-logo h1 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 3em;
  padding: 25px 0;
  margin: 0;
  letter-spacing: 2px;
}

.main .title-logo .btn {
  background-color: #fed204;
  text-transform: uppercase;
  padding: 27px;
  border: none;
  border-radius: 5px;
  letter-spacing: 3px;
  font-size: .9em;
  color: #383543;
  font-family: "Gothic A1", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.main .scroll-to {
  position: absolute;
  -webkit-animation: MoveUpDown 2s linear infinite;
          animation: MoveUpDown 2s linear infinite;
  bottom: 8%;
  cursor: pointer;
}

.main .scroll-to img.arrow {
  width: 30px;
  height: auto;
}

.main .scroll-to:hover {
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
}

@-webkit-keyframes MoveUpDown {
  0%, 100% {
    bottom: 60px;
  }
  50% {
    bottom: 100px;
  }
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 60px;
  }
  50% {
    bottom: 100px;
  }
}
/*# sourceMappingURL=style.css.map */