.bouce-anime {
  opacity: 1;
  -webkit-animation-name: bouce;
  animation-name: bouce;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

body,
html {
  height: 100%;
  margin: 0;
}

@-webkit-keyframes bouce {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

@keyframes bouce {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

.fadeOutOpacity {
  opacity: 1;
  -webkit-animation-name: fadeOutOpacity;
  animation-name: fadeOutOpacity;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.welcome {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: #fed204;
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.welcome img {
  width: 20%;
}

.showcase {
  font-family: "Gothic A1", sans-serif;
}

.showcase #myVideo {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.showcase nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 80%;
  margin-top: 30px;
  z-index: 5;
}

.showcase nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.showcase nav li {
  padding: 15px;
  color: #fff;
}

.showcase nav a {
  text-decoration: none;
}

.showcase nav img {
  width: 148px;
}

.column {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  z-index: 1;
}

.column .line-1 {
  border-right: 1px solid #f5f1f14d;
  height: 969px;
  z-index: 5;
  width: 30%;
}

.column .line-2 {
  border-right: 1px solid #f5f1f14d;
  height: 969px;
  z-index: 5;
  width: 15%;
}

.main {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2;
}

.our-mission {
  background-image: url(https://www.gizmo-experience.com/wp-content/uploads/2018/10/accueil_notre_mission_fond-1-1200-min.jpg);

  /* Full height */
  min-height: 100%;
  min-width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.left-content h1:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 12px;
  border-color: transparent transparent transparent #fed204;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.main .title-logo {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main .title-logo img {
  width: 50%;
}

.main .title-logo h1 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 3em;
  padding: 25px 0;
  margin: 0;
  letter-spacing: 2px;
}

.main .title-logo .btn {
  background-color: #fed204;
  text-transform: uppercase;
  padding: 27px;
  border: none;
  border-radius: 5px;
  letter-spacing: 3px;
  font-size: 0.9em;
  color: #383543;
  font-family: "Gothic A1", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.btn {
  background-color: #fed204;
  text-transform: uppercase;
  padding: 27px;
  border: none;
  border-radius: 5px;
  letter-spacing: 3px;
  font-size: 0.9em;
  color: #383543;
  font-family: "Gothic A1", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.left-content {
  /** format the left side content**/
  color: white;
  width: 100%;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.start-center {
  justify-content: flex-start;
  align-items: center;
}
.left-content .title {
  font-family: "trendablack";
  font-size: 2.5em;
  line-height: 1.2em;
  margin-top: 0;
  margin-bottom: 20px;
}

.box1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.left-content .subtitle {
  font-size: 0.9em;
  font-weight: normal;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 25px;
  padding-left: 25px;
  position: relative;
}

.main .scroll-to {
  position: absolute;
  -webkit-animation: MoveUpDown 2s linear infinite;
  animation: MoveUpDown 2s linear infinite;
  bottom: 8%;
  cursor: pointer;
}

.main .scroll-to img.arrow {
  width: 30px;
  height: auto;
}

.main .scroll-to:hover {
  -webkit-animation-play-state: paused !important;
  animation-play-state: paused !important;
}

@-webkit-keyframes MoveUpDown {
  0%,
  100% {
    bottom: 60px;
  }
  50% {
    bottom: 100px;
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 60px;
  }
  50% {
    bottom: 100px;
  }
}
/*# sourceMappingURL=style.css.map */
