
@import 'config';
@import 'transition';

.welcome {
    @include full-page;
    background-color: $yellow-bg;
    z-index: 6;

    @include flex-center-content;
       img {
        width: 20%;
    }
    
}



.showcase {
    font-family: $font-text;

   #myVideo {
      @include full-page;
   }

   nav {
       display: flex;
       align-items: center;
       justify-content: space-between;
       position: fixed;
       top: 0;
       right:0;
       left: 0;
       margin: 0 auto;
       width: 80%;
       margin-top: 30px;
       z-index: 5;
      

       ul {
           display: flex;
           list-style-type: none;
       }

       li {
           padding: 15px;
           color: $text-color;
           
       }

       a {
        text-decoration: none;
       }

       img {
           width: 148px;
       }
   }
}

.column{
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 1;
    
    .line-1 {
        @include set-border($color);
        width: 30%;  
    }

    .line-2 {
        @include set-border($color);
        width: 15%;
    }
       
}

.main {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    @include flex-center-content;
    z-index: 2;
   
   .title-logo {
       position: absolute;
       width : 100%;
       @include flex-center-content;

       img {
        width: 50%;
    }

    h1 {
        font-family: $font-h1;
        font-weight: bold;
        color: $text-color;
        font-size: 3em;
        padding: 25px 0;
        margin: 0;
        letter-spacing: 2px;
    }

    .btn {
        background-color: $yellow-bg;
        text-transform: uppercase;
        padding: 27px;
        border: none;
        border-radius: 5px ;
        letter-spacing: 3px;
        font-size: .9em;
        color: $btn-text;
        font-family: $font-text;
        font-weight: 700;
        cursor: pointer;
    }

   }

   .scroll-to{
       position: absolute;
       animation: MoveUpDown 2s linear infinite;
       bottom: 8%;
       cursor: pointer;

       img.arrow {
        width: 30px;
        height: auto;
        
    }

   }
       
   .scroll-to:hover {
    animation-play-state: paused !important;
   }

    @keyframes MoveUpDown {
        0%, 100% {
            bottom: 60px;
        }

        50% {
            bottom: 100px;
        }
    
   }
   
}